body {
    background: #1D2021; /* cream-like color */
    color: #D79921;
    height: 100%;
    font-weight: bold;
    font-family: 'Helvetica', 'Arial', sans-serif; 
}

#main-header {
    margin: auto;
    width: 90%;
    height: 90vh;
    padding: 10px;
    border: 2px solid #D79921;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    flex-flow: column;
    flex: 0 1 auto;
}

h1 {
    font-size: 25px;
}

h2 {
    font-size: 20px;
}

#file-border {
   margin: auto;
   width: 90%;
   height: 20px;
   font-size: 15px;
}

.accent {
    color: #D65D0E;
}

a {
    text-decoration: none;
    color: #B16286;
}
