body {
    background-color:  #fbf6ea;
    font-family: 'IosevkaMediumExtendedOblique', 'Helvetica', 'Arial', sans-serif;
}

h1 {
    font-family: 'IosevkaExtraboldExtended';
}

hr {
    border: 0.5vh solid black;
}

a {
    text-decoration: none;
}

a.contact {
    font-family: 'IosevkaExtralightExtendedOblique';
    color:  #666666;
}

#contact-text {
    margin: 0px;
    padding: 0px;
    text-align: center;
}

#main {
    margin: auto;
    width: 80%;
    max-width: 500px;
    height: 90vh;
}

#header-text {
    font-size: 40px;
    text-align: center;
    margin-bottom: 0px;
}
